<div id="details">
<% if @article.title %>
	<h1> Name: </h1>
	 <h2> <%= @article.title %> </h2>
<% end %>
<% if @article.plot %>
	<h1> Plot: </h1> 
	 <h2> <%= @article.plot %> </h2>
<% end %>
<% if @article.bio %>
	<h1> Biography: </h1> 
	 <h2> <%= @article.bio %> </h2>
<% end %>
<% if @article.special_powers %> 
	<h1> Special Powers: </h1>
	 <h2> <%= @article.special_powers %> </h2>
<% end %>
<% if @article.minions %>
	<h1> Minions: </h1>
	 <h2> <%= @article.minions %> </h2>
<% end %>
<h1>Authors: </h1>
	 <% @article.users.each do |user| %> 
	 	<h2><%= user.name %></h2>
	 <% end %>

<a href="/articles/<%= @article.id %>/edit">Edit</a>
</div>

<!-- instead of <%  @article.special_powers %>  i can write if @category_id = 2 or 3....maybe i can do the same in the edit.erb for the inputs end -->
